<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="">yor_name</label>
        <input type="text" name="yor_name">
        <br>
        <label for="">cantry</label>
        <select name="cantry" id="">
            <option value="palestin">palestin</option>
            <option value="usa">usa</option>
            <option value="canada">canada</option>
        </select>
        <br>
        <label for="">favorat_lang</label>
        <select name="favorat_lang" id="">
            <option value="py">py</option>
            <option value="css">css</option>
            <option value="js">js</option>
            <option value="java">java</option>
        </select>
        <br>
        <label for="">coment optional</label>
        <input type="text" name="coment_optinal">
        <input type="submit" value="buton">  
    </form>
</body>
</html>