.div{
    background-color: rgb(137, 135, 135);
    width: 700px;
    height: 500px;
    padding: 1%;
    margin: 0 auto;
}
.header{
    background-color: green;
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.navigation{
    background-color: blue;
    width: 200px;
    height: 300px;
    margin-top: 2%;
}
.main{
    background-color: red;
    margin-top: 2%;
    width: 460px;
    height: 350px;
    
    padding: 2%;
}
.mmain{
    display: flex;
    justify-content: space-around;
}
.subContents{
    width: 140px;
    height: 250px;
    background-color: yellow;
}
.advertisement{
    margin-top: 2%;
    width: 450px;
    height: 80px;
    background-color: aquamarine;
}
.mid{
    display: flex;
    justify-content: space-between;
}