<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/first_pag.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='first_pag.css') }}">
</head>
<body>
    <div class="contener">
        <h1>hallo world!</h1>
            <div class="boxs">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</body>
</html>