.title{
    border: 3px solid black;
    font-size: 40px;
    text-align: center;
    margin: 25px;
}
.time{
    border: 3px solid black;
    font-size: 40px;
    text-align: center;
    margin: 25px;
}