<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'success.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>CodingDojo Wall</h1>
        <div>
            <h2>welcome {{get_log.first_name}}</h2>
            <a href="/destroy">log out</a>
        </div>
    </div>
    <div class="post_a_message">
        <h2>post a message</h2>
        <form action="/post_message" method="POST">
            {% csrf_token %}
            <input type="text" name="post_mwssage" class="input">
            <input type="hidden" name="user_id" value="{{get_log.id}}">
            <input type="submit" name="submit" value="Post a message" id="submit">
        </form>
    </div>
    <div class="message">
        {% for get_all_message in get_all_messages %}
            <h2>{{get_all_message.user_id}}</h2>
            <p>{{get_all_message.message}}</p>
        {% endfor %}
    </div>
</body>
</html>