<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'newshow.css' %}">
</head>
<body>
    <div class="head">
        <h1>Edit show  {{edit.id}}</h1>
        <a href="/">go back</a>
    </div>
    <form action="/show/{{edit.id}}/update_show" method="POST">
        {% csrf_token %}
        <div class="title">
            <label class="title_lanel" for="">Title</label>
            <input type="text" name="title" id="">
        </div>
        <div class="network_releasedate">
            <div>
                <label for="">network</label>
                <input type="text" name="network" id="">
            </div>
            <div>
                <label for="">release date</label>
                <input type="datetime-local" name="release_date" id="">
            </div>
        </div>
        <div class="description">
            <label for="">description</label>
            <input type="text" name="desc" id="">
        </div>
        <div class="submit">
            <input type="hidden" name="id" value="{{edit.id}}">
            <input type="submit" value="Update" name="" id="submitt">
            <a href="/">Go to Show</a>
        </div>
    </form>
     {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
</body>
</html>