<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'newshow.html' %}">
</head>
<body>
    <h1>add a new show</h1>
    <div>
        <label for="">Title</label>
        <input type="text" name="title" id="">
    </div>
    <div>
        <div>
            <label for="">network</label>
            <input type="text" name="network" id="">
        </div>
        <div>
            <label for="">release date</label>
            <input type="datetime" name="release_date" id="">
        </div>
        <div>
            <label for="description"></label>
            <input type="text" name="desc" id="">
        </div>
        <input type="submit" name="" id="">
    </div>
</body>
</html>